#searchbox {
    position: relative;
}
#searchbox .form-control { background: none !important; }
.searchbox-submit {
    position: absolute;
    top:0;
    right: 0;
    background: url(/assets/img/search-icon.png) no-repeat right center;
    border: none;
    width: 22px;
    height: 22px;
}
.wishlist-dropdown {
    border: 1px solid #cccccc;
    display: none;
    background: #fff;
    padding: 0px 15px 1px 20px;
    position: absolute;
    top: 67px;
    z-index: 99;
    text-align: left;
    max-width: 385px;
    width: 270px;
    margin-left: -257px;
}
.active-list .dropdown-toggle1:after { opacity: 1 }

.wishListCount
{
    position: absolute;
    -webkit-margin-before: -18px;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #ff9400;
    color: #fff;
    text-align: center;
}

.wishListCount:hover
{
    cursor: pointer;
}
#searchbox > div > ngui-auto-complete
{
    display: none;
}


  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }

  

  .imgClass
  {
      display: none;
      position: absolute;
      margin-left: -25px;
  }

  .norecord li
  {
      color: black;
      margin: 0px !important;
      text-align: center !important;
  }

  .norecord
  {
      display: none;
      border: 1px solid lightgrey;
    
      padding-left: 0px !important;
      margin: 0px !important
  }

  .shrink {
    box-shadow: 0 0 10px #e9e9e9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:900;
    background: #fff; }

    .ui-autocomplete
    {
        z-index: 1000 !important;
        position: fixed !important;
    }

    .container-fluid
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .headerRow
    {
        margin-right: 0px !important; 
    }
.imgHeader
{
    margin-top: 10px;
}

.wishlist-dropdownMain {
    border: 1px solid #cccccc;
    display: none;
    background: #fff;
    padding: 0px 15px 1px 20px;
    position: absolute;
    margin-top: -1% !important;
    z-index: 99;
    text-align: left;
    max-width: 385px;
    width: 270px;
    margin-left: -257px;
}


.nopadding
{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.leftPaddingMenu
{
    padding-left: 0px;
    padding-right:0px;
}
  
.tags
{
    margin-top: 10px;
    margin-left: -2px;
    background: transparent;
}

.tagsMain
{
    margin-top: 10px;
    margin-left: -2px;
    background: transparent;
}

#primary-nav
{
    background: white;
}

.account
{
    margin-top: 35vh;
}