

<section class="container-fluid">
  <div class="row">
    <div class="container">
      <ol class="breadcram">
            <li><a routerLink ="/">HOME</a></li>
            <li><a routerLink ="/profile">MY ACCOUNT</a></li>
            <li class="active">RESET PASSWORD</li>
          </ol>
    </div>
  </div>
</section>


<section  class="product-listing-wrap container-fluid content-wrap">
	<div class="row">
		<div class="container">
				

					<div class="row">
						<div *ngIf="validToken" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 resetPw">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<h1>RESET PASSWORD</h1>
								<p>Use the form below to change your password</p>
								<div class="hidden"><p>Error Message<</p></div>
								<form class="form" #resetPassword="ngForm" novalidate (ngSubmit)="resetCustomerPassword(resetPassword.value, resetPassword.valid)">
                  

                  <label class="control-label block_element">E-mail</label>
                  <input type="email" id="password" name="email" (click) = "erase()"
                  [(ngModel)]="resetPassword.email" 
                  placeholder="E-mail" required  required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel"
                  class="form-control">

                  <small class="error-text" [hidden]="email.valid || (email.pristine && !resetPassword.submitted)">
                    Please enter valid e-mail address.
                  </small>

                  <label class="control-label block_element">New Password</label>
                  <input type="password" id="password" name="newpassword" (click) = "erase()"
                  [(ngModel)]="resetPassword.newpassword" placeholder="New Password" required minlength="6" #newpassword="ngModel"
                  class="form-control">

                  <small class="error-text" [hidden]="newpassword.valid || (newpassword.pristine && !resetPassword.submitted)">
                    Please enter new password.
                  </small>

									<label class="control-label block_element">Confirm Password</label>
                  <input type="password" id="confirmPassword" (click) = "erase()"
                   name="confirmpassword"
                   [(ngModel)]="resetPassword.confirmpassword" placeholder="Confirm Password" required minlength="6" #confirmpassword="ngModel"
                   class="form-control">

                   <small class="error-text" [hidden]="confirmpassword.valid || (confirmpassword.pristine && !resetPassword.submitted)">
                    Please confirm new password.
                  </small>

                  <small class="error-text mismatch" *ngIf="passwordMatch">
                     Password mismatch.
                  </small>

                  <div class="col-lg-12 col-xs-12 col-md-12 btnWrap">
									<button (click) = "erase()" class="btn btn-mena btn-block" type="submit">RESET PASSWORD</button>
                  </div>
									<div class="clearfix"></div>
								</form>
							</div>
						</div>

						<div class="clearfix"></div>
				</div>

			</div>
		</div>
</section>

<div id="passwordModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="text-center" [innerHtml] ="resetMessage" [ngClass] ="validToken || resetError ? 'black': 'red' "></h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>

  </div>
</div>
<app-global-title-injector [titleInput] = "titleName"></app-global-title-injector>


