

<section class="container-fluid thank-you-page">
			<div class="row">
				<div class="container">
					<div class="thank-you-page-inner">
						<h2>thanks for your order</h2>
						<div class="row">
							<div class="col-md-8 col-sm-8">
								<div class="thankyou-left">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna massa, sodales id tristique sed, malesuada nec arcu. Proin sed risus elit. Ut a venenatis dui, nec venenatis urna. Etiam faucibus gravida lorem, ut feugiat nulla varius vitae. Aliquam vitae nisl hendrerit, lobortis purus eu, imperdiet nulla. Phasellus eget est a odio varius tempus. In sodales turpis a risus dapibus, a euismod mi rhoncus. Aliquam hendrerit et lorem ac mattis. Curabitur ac rutrum augue, ac dignissim velit. </p>
									<a  href="#" class="add-biling-add cont-shopping">Continue shopping</a>
								</div>
							</div>
							<div class="col-md-4 col-sm-4"> 
								<div class="my-address-book-inner thankyou-right"> 
									<div class="shipped-address-border no-border clearfix">
										<div class="shipped-address clearfix">
											<h5>oRDER rEVIEW</h5>
											<ul>
												<li><p>ORDER NUMBER: #12345679</p></li>
											</ul>
											<h5>SHIPPED TO</h5>
											<ul>
												<li><p>Shyju XXXX kXXXXXX</p></li>
												<li><p>analytix corporate privXXr </p></li>
												<li><p>Xroad, EXXXX</p></li>
												<li><p>X- 12313213123</p></li>
												<li><p>XXXXXX </p></li>
												<li><p>Mobile: XXX</p></li>
											</ul>
											<table>
										<tr class="first-row">
											<td>Subtotal </td>
											<td>470 AED</td>
										</tr>
										<tr class="first-row">
											<td>Shipping and Handling </td>
											<td>Free Shipping</td>
										</tr>
										<tr class="sec-row">
											<td>Grand Total </td>
											<td>1470 AED</td>
										</tr>
									</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>

