<!-- <section class="container-fluid trending-wrap"> <div class="row">
				<div class="container">
					<div *ngFor="let minibanner of miniBannerData; let rowIndex = index">
							<!-- <h2 class="tittle-wrap">{{minibanner.title}}</h2>
							<p class="small-tittle">{{minibanner.subtitle}}</p> -->
							 <!-- <div class="row">
								<div class="trending-women-wrap">
								 <div *ngFor="let ii of miniBannerData2[rowIndex] |values" class="col-md-4 col-sm-4 col-xs-6">
									<div class="women-clothing-img">	
									 <a routerLink="{{ii.id}}">	
										<img src="{{ii.image}}" alt="image" class="img-responsive" height="298" width="370">
									 </a>
									</div>
								</div> 
							</div>
						</div>	
					</div>	
				</div>
			</div>
</section> --> 

<div id="landingPage" >
	
</div> 
<app-global-title-injector [titleInput] = "titleName"></app-global-title-injector>
