<section class="container-fluid">
	<div class="row">
		<div class="container">
			<ol class="breadcram">
				<li><a [routerLink]="['/']">HOME</a></li>
				<li *ngIf="rootPathName === 'sale'"><a >{{rootPathName}}</a></li>
				<li *ngIf="categoryLevel.length != 0 && categoryLevel[0] != undefined"><a [routerLink]="['/'+rootPathName+'/',categoryLevel[0]]">{{categoryLevel[0]|uppercase}}</a></li>
				<li *ngIf="categoryLevel.length != 0 && categoryLevel[1] != undefined"><a [routerLink]="['/'+rootPathName+'/',categoryLevel[0],categoryLevel[1]]">{{categoryLevel[1]|uppercase}}</a></li>
				<li *ngIf="categoryLevel.length != 0 && categoryLevel[2] != undefined"><a [routerLink]="['/'+rootPathName+'/',categoryLevel[0],categoryLevel[1],categoryLevel[2]]">{{categoryLevel[2]|uppercase}}</a></li>
				<li *ngIf="categoryLevel.length != 0 && categoryLevel[3] != undefined"><a [routerLink]="['/'+rootPathName+'/',categoryLevel[0],categoryLevel[1],categoryLevel[2],categoryLevel[3]]">{{categoryLevel[3]|uppercase}}</a></li>
				 
			</ol>
		</div>
	</div>
</section>