

<section class="container-fluid">
  <div class="row">
    <div class="container">
      <ol class="breadcram"> 
        <li><a href="javascript:;">HOME</a></li>
        <li class="active">MEN</li>   
      </ol>
    </div>
  </div>
</section>

<section class="product-listing-wrap container-fluid content-wrap">
	<div class="row">
		<div class="container">
				
				<div class="category-inner">
					<div class="row">
						<div class="col-sm-3">
							<h4 class="categori-head">MEN</h4>
						<aside class="categories">
							<div class="single-cat shop-cat">
								<h4 class="category-head"><a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">Clothing</a></h4>
								<div class="collapse in" id="collapse1">
									<ul>
										<li><a href="#">Big & Tall(filter)</a></li>
										<li><a href="#">Hoodies & Sweatshirts</a></li>
										<li><a href="#">Jeans</a></li>
										<li><a href="#">Outerwear</a></li>
										<li><a href="#">Pants</a></li>
										<li><a href="#">Polo Shirts</a></li>
										<li><a href="#">Shirts</a></li>
										<li><a href="#">Shorts</a></li>
										<li><a href="#">Sleepwear</a></li>
										<li><a href="#">Sportswear</a></li>
										<li><a href="#">Suits & Blazers</a></li>
										<li><a href="#">Sweaters & Cardigans</a></li>
										<li><a href="#">Swimwear</a></li>
										<li><a href="#">T-Shirts</a></li>
										<li><a href="#">Underwear & Socks</a></li>
									</ul>
								</div>
							</div>

							<div class="single-cat shop-necklaces">
								<h4 class="category-head"><a role="button" data-toggle="collapse" href="#collapse2" class="collapsed" aria-expanded="false" aria-controls="collapse2">Accessories </a></h4>
								<div class="collapse" id="collapse2">
									<ul>
										<li><a href="#">All</a></li>
										<li><a href="#">Best Seller</a></li>
										<li><a href="#">Gift Cards</a></li>
										<li><a href="#">Latest Additions</a></li>
										<li><a href="#">Custom Wedding</a></li>
									</ul>
								</div>
							</div>
							<div class="single-cat shop-colors">
								<h4 class="category-head"><a role="button" data-toggle="collapse" href="#collapse3" class="collapsed" aria-expanded="false" aria-controls="collapse3">Shoes  </a></h4>
								<div class="collapse" id="collapse3">
									<ul>
										<li><a href="#">All</a></li>
										<li><a href="#">Best Seller</a></li>
										<li><a href="#">Gift Cards</a></li>
										<li><a href="#">Latest Additions</a></li>
										<li><a href="#">Custom Wedding</a></li>
									</ul>
								</div>
							</div>
							
							
						</aside>
					</div>
					<div class="col-sm-9">
						<div class="main-category-right">
							<h2 class="tittle-wrap">TRENDING FOR MEN</h2>
								<a href="#" class="image-hover">
									<div class="category-men-image clearfix">
										<div class="category-men-image-inner"> 
											<h2>flaunt that casual look</h2> 
											<h3>Enjoy up to 50% Off</h3>
										</div>
									</div>
								</a>
								<div class="row">
								<div class="col-md-5 col-sm-5">
									<div class="men-trending-image bg-image smheight clearfix">
										<a href="#"><img src="assets/img/men-trending-image-2.jpg" alt="img" class=" img-responsive" height="360" width="870"></a>
									</div>
								</div>
								<div class="col-md-7 col-sm-7">
									<div class="men-trending-image smheight clearfix">
										<a href="#"><img src="assets/img/men-trending-image-3.jpg" alt="img" class=" img-responsive" height="360" width="870"></a> 
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="men-trending-image  clearfix">
										<a href="#"><img src="assets/img/men-trending-image-4.jpg" alt="img" class="img-responsive" height="360" width="870"></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="men-trending-image bg-image2 smheight2 clearfix">
										<a href="#"><img src="assets/img/men-trending-image-5.jpg" alt="img" class="sameheight2 img-responsive" height="360" width="870"></a>
									</div>
								</div>
								<div class="col-md-8 col-sm-8">
									<div class="men-trending-image smheight2 clearfix">
										<a href="#"><img src="assets/img/men-trending-image-6.jpg" alt="img" class="sameheight2 img-responsive" height="360" width="870"></a>
									</div>
								</div> 
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
</section>

