
<a  href ="#/" *ngIf ="hiddenAnchor" id="anchor"></a>
<footer id="footer" class="container-fluid">
	 <div class="row">
	  <div class="container footerAlign">
	 
		
	   <div class="col-md-3 ">
	    <div class="footer-inner">
	     <h5>Company</h5>
	     <ul>
	      <li><a routerLink="about-us">About Us</a></li>
		  <li><a routerLink="faq">FAQs</a></li>
		  <li><a routerLink="careers">Careers</a></li>
	     </ul>
	    </div>
	   </div>
	  
	   <div class="col-md-3">
	    <div class="footer-inner">
	     <h5>Terms & Policies</h5>
	     <ul>
	      <li><a routerLink="terms-of-use">Terms & Conditions</a></li>
	      <li><a routerLink="privacy-policy">Privacy Policy</a></li>
	     </ul>
	    </div>
	   </div>

	   <div class="col-md-3">
	    <div class="footer-inner footer-contact">
		 <h5>GET IN TOUCH</h5>
		 
		 <ul>
		  <li><a  href="tel:+971 4 521 4800"><i class="fa fa-phone"></i>(+971) 4 521 4800</a></li>		 
		  <li><a  routerLink="contact"><i class="fa fa-user fa-lg"></i>Customer Service</a></li>
		</ul>
	   
	    </div>
	   </div>

	   <div class="col-md-3">
			<div class="footer-inner footer-contact">
			 <h5>FOLLOW US</h5>
			
			 <div class="footer-social-icon">
			  <ul class="">
			   <li><a  href="https://www.facebook.com/menamallHQ" target="_blank" ><i class="fa fa-facebook"></i></a></li>
			   <li><a  href="https://twitter.com/menamallHQ" target="_blank" ><i class="fa fa-twitter"></i></a></li>
			   <li><a  href="https://www.instagram.com/menamallhq/" target="_blank"><i class="fa fa-instagram" target="_blank" ></i></a></li>
			
			  </ul>
			 </div>
			
		</div>

	  </div>
	  </div>
	  <div class="container">
	   <div class="footer-text footerBorder">
	   </div>
	  </div>
	  <div class="container">
	   <div class="copyright">
		
	    <p>© 2017 <a  href="#">menamall.com</a> - 1.4.6</p>
	   </div>
	  </div>
	 </div>
</footer> 

<div id="tour-expand1" class="mfp-hide popup-expand clearfix">    
	<div class="news-letter-main "> 
		<div class="news-letter-main-inner clearfix">
			<button title="Close (Esc)" type="button" class="mfp-close">×</button>
				<div class="col-md-6 col-sm-6 right">
					<div class="row newsletter-image smheight clearfix">
						<img src="assets/img/news-letter-image.jpg" class="img-responsive" height="375" width="377">
						<!-- <a href="#"><i class="fa fa-close"></i></a> -->
					</div>
				</div>
				<div class="col-md-6 col-sm-6 left">
					<div class="row newsletter-text smheight">
						<div class="news-letter-text-inner">
							<h2>NEWSLETTER</h2>
							<p>Subscribe to the menamall mailing list to receive updates on new arrivals, special offers and other discount information</p>
							<form>
								<input  (keydown)="eraseError()" type="email" class="form-control" name="email" Placeholder="Enter your email address">
								<button type="submit"  class="btn btn-default">SUBSCRIBE</button>
								<a  href="#">Don’t show this popup again</a>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>


<div id="tour-expand2" class="mfp-hide popup-expand clearfix">

<div class="container popup-quickview">
	<button title="Close (Esc)" type="button" class="mfp-close">×</button>
		<div class="col-lg-6 col-md-6 col-sm-12  clearfix">
       <div class="pro-slide">
       	<div class="right">
                    <div class="slider-for main-product-img ">
                    <div>
                    	<a  href="#" class="open-slider">
                        <img src="assets/img/big-product.jpg" height="601" width="453" alt="" class="img-responsive ">
                        </a>
                    </div>

                    <div>
                    	<a  href="#">
                        <img src="assets/img/big-product.jpg" height="601" width="453" alt="" class="img-responsive">
                    </a>
                    </div>

                    <div>
                    	<a  href="#">
                        <img src="assets/img/big-product.jpg" height="601" width="453" alt="" class="img-responsive">
                    </a>
                    </div>
                    <div>
                    	<a  href="#">
                        <img src="assets/img/big-product.jpg" height="601" width="453" alt="" class="img-responsive">
                    </a>
                    </div>
                </div>
                </div>
                <div class="leftin ">
                    <div class="slider-nav prod-thumbs " id="gallery_01">
                    <div>
                        <img src="assets/img/cart-thumb1.jpg" height="134" width="100" alt="" class="img-responsive" >
                    </div>
                    <div>
                        <img src="assets/img/cart-thumb2.jpg" height="136" width="102" alt="" class="img-responsive">
                    </div>
                    <div>
                        <img src="assets/img/cart-thumb3.jpg" height="136" width="102" alt="" class="img-responsive" >
                    </div>
                    <div>
                        <img src="assets/img/cart-thumb4.jpg" height="135" width="102" alt=""  class="img-responsive">
                    </div>
                </div>
                </div>
       </div>         
     </div>
     <div class="col-lg-6 col-md-6">
			<div class="main-prod-desc">
				<h4 class="main-prod-title">NIKE</h4>
				<h4>Wills Lifestyle Men Beige Slim Fit Solid Formal Trousers</h4>
				<h3 class="prod-price" >889.89 AED</h3>
				<div class="prod-price-available">
					<ul>
						<li><h6 class="linethrough">999.58 AED</h6></li>
						<li class="orange"><h6>20% OFF</h6></li>
					</ul>
					<ul>
						<li><p><span>Product Code:</span>#4657</p></li>
						<li><p><span>Availability :</span>In stock</p></li>
					</ul>

				</div>
				<div class="select-sc">
				<div class="size-selection shop-color">
					<label>select Color<span>*</span></label>
					<ul>
						<li>
							<input type="radio" value="red" name="color" id="red" >
							<label for="red" data-color="red">10</label>
						</li>
						<li>
							<input type="radio" value="green" name="color" id="green" >
							<label for="green" data-color="green" >12</label>
						</li>
						<li>
							<input type="radio" value="blue" name="color" id="blue" >
							<label for="blue" data-color="blue">13</label>
						</li>
						<li>
							<input type="radio" value="grey" name="color" id="grey" >
							<label for="grey" data-color="grey">14</label>
						</li>
						<li>
							<input type="radio" value="yellow" name="color" id="yellow" >
							<label for="yellow" data-color="yellow">15</label> 
						</li>
					</ul>
				</div>
				<div class="size-selection">
					<label>Size <span>*</span></label>
					<ul>
						<li>
							<input type="radio" value="10" name="size" id="10" >
							<label for="10">10</label>
						</li>
						<li>
							<input type="radio" value="12" name="size" id="12" >
							<label for="12">12</label>
						</li>
						<li>
							<input type="radio" value="13" name="size" id="13" >
							<label for="13">13</label>
						</li>
						<li>
							<input type="radio" value="14" name="size" id="14" >
							<label for="14">14</label>
						</li>
						<li>
							<input type="radio" value="15" name="size" id="15" >
							<label for="15">15</label>
						</li>
					</ul>
					<a  href="#" target="_blank" class="size-chart">Size Chart</a>
				</div>
				</div>
				<div class="product-detail pop-product-details">
					<div class="quntity">
						<div class="input-number-wrap">
						<span class="fa fa-minus"></span>
						<input type="text" name="qty" id="qty" class="quantity" value="1">
						<span class="fa fa-plus"></span>
					</div>
					</div>
					<div class="wish-list pop-wishlist">
						<a  href="javascript:;"><span class="ion-android-favorite-outline"></span>wish list</a>
					</div>
					<div class="add-cart-btn pop-add-cart-button">
						<a  href="javascript:;" class="btn-default"><i class="ion ion-bag"></i>  add to cart</a>
					</div>
				</div>
				<div class="product-share">
					<h6>Share :</h6>
					<ul>
						<li><a  href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a  href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a  href="#"><i class="ion ion-social-linkedin"></i></a></li>
						<li><a  href="#"><i class="ion ion-social-googleplus"></i></a></li>
					</ul>
				</div>
			</div>
	</div>
</div>
</div>



<div id="sidr">
	<a (click)="resetForm(formLogin)" class="close-sidr">X</a>
	<div class="side-bar">
		<div class="side-bar-inner">
			<h5>Already have an account ?</h5>
			<p>Sign in below:</p>
			<form #formLogin="ngForm" novalidate (ngSubmit)="loginUser(formLogin.value, formLogin.valid)">		<div class="form-group">
					<input  (keydown)="eraseError()" type="email" [(ngModel)]="formLogin.clientemail" class="form-control" name="clientemail" placeholder="EMAIL" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #clientemail="ngModel">
					<small class="error-text" [hidden]="clientemail.valid || (clientemail.pristine && !formLogin.submitted) || hideMessage">
					Valid email address is required.
				</small>
				</div>

				<div class="form-group">
					<input   (keydown)="eraseError()" type="password" 
					[(ngModel)]="formLogin.clientpassword" 
					 class="form-control" name="clientpassword"
					 placeholder="PASSWORD"
					 required #clientpassword="ngModel">
					<small class="error-text" [hidden]="clientpassword.valid || (clientpassword.pristine && !formLogin.submitted) || hideMessage">
					Invalid password.
				</small>
				<p *ngIf="!validUserAndPass" class="error-text">Incorect Username or Password.</p>
				</div>

				<div class="form-group">
					<p class="c-left">
				    	<input  (keydown)="eraseError()" type="checkbox" id="test2" >
				    	<label for="test2" class="checkbox-label">Keep me logged in</label>
				  	</p>
				  	<a  href="#sidr3" id="mm3" class="forgot-password">Forgot your password ?</a>			  	
				</div>			
				<button type="submit" class="btn btn-default btn-white" style="margin-top: 0px;">Log In</button>
			</form>

			<!-- <div class="slide-bar-social-icon clearfix">
				<h6>Login on social media</h6>
				<ul>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="ion ion-social-googleplus"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
				</ul>
			</div> -->
			<h5 class="uppercase1" st>Don't have an account ?</h5>
			<a  href="#sidr2" id="mm2" class="btn btn-default btn-white">Register Now	</a>
		</div>
	</div>
</div>

<div id="sidr2">
	<a (click)="resetForm(formRegister)" class="close-sidr">X</a>
	<div class="side-bar">
	<div class="side-bar-inner">
		<h5>Create an account</h5>

		<p>You will also enjoy exclusive discounts, catalog and stock updates, manage your shopping cart, track your orders, save delivery addresses for faster checkout, and more.</p>
		<form #formRegister="ngForm" novalidate (ngSubmit)="createNewUser(formRegister.value, formRegister.valid)">

			<div class="form-group">
				<input  (keydown)="eraseError()" type="text" [(ngModel)]="userRegister.newfirstname" class="form-control" name="newfirstname" placeholder="First Name" required minlength="2" #newfirstname="ngModel">
				<small class="error-text" [hidden]="newfirstname.valid || (newfirstname.pristine && !formRegister.submitted)">
					Firstname is required.
				</small>
			</div>

			<div class="form-group">
				<input  (keydown)="eraseError()" type="text" [(ngModel)]="userRegister.newlastname" class="form-control" name="newlastname" placeholder="Last Name" required minlength="2" #newlastname="ngModel">
				<small class="error-text" [hidden]="newlastname.valid || (newlastname.pristine && !formRegister.submitted)  || hideMessage">
					Lastname is required.
				</small>
			</div>

			<div class="form-group">
				<input  (keydown)="eraseError()" type="email" [(ngModel)]="userRegister.newemail"  class="form-control" name="newemail" placeholder="E-Mail" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #newemail="ngModel">
				<small class="error-text" [hidden]="newemail.valid || (newemail.pristine && !formRegister.submitted)  || hideMessage">
					Valid email address is required.
				</small>
			</div>

			<!-- required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" -->
			<div class="form-group">
				<input  (keydown)="eraseError()" type="password" [(ngModel)]="userRegister.newpassword" class="form-control"  required pattern=".{6,}$" name="newpassword" placeholder="Password" minlength="6" maxlength="20" #newpassword="ngModel">
				<small class="error-text" [hidden]="newpassword.valid || (newpassword.pristine && !formRegister.submitted)  || hideMessage">
					Password should be at least 6 characters long.
				</small>
				<small class="error-text" *ngIf ="registrationError">
						{{ errorMessage}}	
			</small>
				<br>
			</div>

				
			<button  type="submit" class="btn btn-default btn-white">Register now</button>
		</form>

		<!--<div class="slide-bar-social-icon clearfix">
			 <h6>Login on social media</h6>
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="ion ion-social-googleplus"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
			</ul> 
		</div>-->
		<h5 class="uppercase1">Already have an account ?</h5>
		<a  (keydown)="eraseError()" (click)="loginPanel()" id="mm4" class="btn btn-default btn-white">LOGIN	</a>
	</div>
</div>
</div>

<div id="sidr3">
	<a (click)="resetForm(formForgot)" class="close-sidr">X</a>
	<div class="side-bar">
	<div class="side-bar-inner">
		<h2>Forgot Password</h2>

		<form #formForgot="ngForm" novalidate (ngSubmit)="forgotPassword(formForgot.value, formForgot.valid)">
			<div class="form-group">
				<input (keydown)="eraseError()" type="email" [(ngModel)]="userForgotPassword.email"  class="form-control" name="email" placeholder="E-MAIL" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel">
				<small class="error-text" [hidden]="email.valid || (email.pristine && !formForgot.submitted)  || hideMessage">
					Valid email address is required.
				</small>
			</div>
		
			<button  type="submit" class="btn btn-default btn-white">Send</button>
		</form>
	</div>
</div>
</div>


<div id="stop" class="scrollTop">
    <span><a   href=""><span class="fa fa-angle-up"></span></a></span>
</div>


<div id="registrationModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
	   
		<div class="modal-body">
		  <h3 class="text-center">Registration Successful !</h3>
		</div>
	   
	  </div>
  
	</div>
  </div>

  <div id="logInModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
	   
		<div class="modal-body">
		  <h3 class="text-center">Login Successful !</h3>
		</div>
	   
	  </div>
  
	</div>
  </div>




  <div id="cartModalPass" class="modal fade" role="dialog">
	<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
	   
		<div class="modal-body">
		  <h3 class="text-center" [ngClass]="emailRecoverSuccess ? 'black' : 'red' " [innerHtml]="successMessage"></h3>
		</div>
	   
	  </div>
  
	</div>
  </div>
  <app-global-title-injector [titleInput] = "titleName"></app-global-title-injector>



